<div data-role="page">
  <div data-role="header" data-position="inline">
    <h1>Consume SOAP (Result)</h1>
  </div>
  <div data-role="content">
	Fahrenheit (°F): <strong><%= @result %></strong>
  </div>
</div>
